.container {
  margin: 40px auto 60px;
  width: 100%;
  max-width: 1024px;
  padding: 0 10px;
  position: relative; }
  @media (max-width: 749px) {
    .container {
      margin: 20px auto 40px;
      padding: 0 20px; } }

@media (min-width: 750px) {
  .container--page {
    margin: 140px auto 60px; } }

.container__content {
  display: flex;
  align-items: center; }
  @media (max-width: 749px) {
    .container__content {
      flex-direction: column; } }
  .container__content .container__illustration {
    flex: 0 1 auto; }
    .container__content .container__illustration img {
      width: 380px; }
      @media (max-width: 749px) {
        .container__content .container__illustration img {
          width: 100%;
          margin-bottom: 40px; } }
  .container__content .container__block {
    flex: 1; }

.container--withimage .container__content {
  align-items: inherit; }

.container__block-intro {
  margin-left: 60px; }
  @media (max-width: 749px) {
    .container__block-intro {
      margin-left: 0; } }

.container__content.container__content-therapie .container__illustration-left img {
  width: 480px; }
  @media (max-width: 749px) {
    .container__content.container__content-therapie .container__illustration-left img {
      width: 100%; } }

.container__content.container__content-therapie .container__block-right {
  flex: 1;
  margin-left: 30px; }
  @media (max-width: 749px) {
    .container__content.container__content-therapie .container__block-right {
      margin-top: 20px;
      margin-left: 0; } }

.container__block-bottom {
  margin-top: 10px; }

.container__block-title {
  font-weight: 700;
  color: #493D31;
  margin-bottom: 30px;
  text-transform: uppercase; }
  @media (max-width: 749px) {
    .container__block-title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 32px; } }

.container__block-title--nomarge {
  margin-bottom: 0; }

.container__block-subtitle {
  margin: 40px 0 10px;
  font-weight: 700;
  color: #9F8F75; }
  @media (max-width: 749px) {
    .container__block-subtitle {
      line-height: 26px; } }

.container__block-slogan {
  text-align: center;
  margin: 20px 0;
  padding: 10px 20px 40px;
  border: 2px solid #9F8F75; }
  .container__block-slogan .slogan__content {
    position: relative; }
  @media (min-width: 750px) {
    .container__block-slogan span {
      position: absolute;
      right: 40px; } }
  .container__block-slogan span {
    font-size: 18px; }

.container__block-link {
  text-decoration: none;
  font-weight: 700;
  color: #9F8F75; }
  .container__block-link:hover, .container__block-link:focus {
    text-decoration: underline; }

.container__content-list {
  padding-left: 20px;
  list-style: none; }
  .container__content-list li:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    background-color: #9F8F75;
    position: relative;
    left: -20px;
    top: 20px; }
    @media (max-width: 749px) {
      .container__content-list li:before {
        top: 15px; } }

.container__block-contact {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none; }
  @media (max-width: 749px) {
    .container__block-contact {
      flex-direction: column; } }
