@import '../styles/variables.scss';

.mea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 10px;

  @include at-media ('<medium') {
    background-image: url('../images/cover_mobile.jpg');
    height: 600px;
  }
}

.mea__slogan {
  position: relative;

  span {
    position: absolute;
    right: 20px;
    font-size: 20px;

    @include at-media ('<medium') {
      left: 0;
      right: 0;
      text-align: center;
      font-weight: 700;
    }
  }
}

.slogan {
  font-family: $font-allura;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;

  @include at-media ('<medium') {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}
