body {
  background-color: #DBDAD5;
  color: #000000;
  font-family: "Crimson Text", serif; }

ul {
  font-family: "Crimson Text", serif; }

p:not([class]) {
  text-align: justify; }

p, ul {
  font-size: 22px;
  line-height: 30px; }
  @media (max-width: 749px) {
    p, ul {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 20px; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
  *::after, *::before {
    box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

img {
  vertical-align: middle; }

.u-justify-left {
  text-align: left; }

.u-bold {
  font-weight: 700; }

.u-italic {
  font-style: italic; }

.u-list-style {
  list-style: none; }

.u-paragraphe {
  margin-bottom: 20px;
  text-align: justify; }

.u-mb {
  margin-bottom: 60px; }

.u-highlight {
  color: #9F8F75;
  margin-top: 20px; }
